body{
    background: #F7F8F9
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}
.wrapper{
    margin-top: 20px;
    height: 130px;
    background-color: #fff;
    padding: 5px 0;
}
.header {
    width: 100%;
}
.menu__list{
    display: flex;
}
.header__burger{
    display: none;
}
.menu__list li{
    list-style-type: none;
    margin-left: 40px;
}
.header__link{
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Teko";
    font-size: 24px;
    color: #000;
    font-weight: 700;
}
.header__logo{
    width: 255px;
}
.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    margin: 110px 0;
}
.info__image{
    margin: 0 auto;
    text-align: center;
}
.info__content{
    width: 1200px;

}

.carousel {
    padding: 100px 0;
}
.carousel__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
    display: flex;
}
.carousel__inner div img{
    width: 800px;
    height: 800px;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-family: "Teko";
}
.main__title{
    text-align: center;
    font-family: "Teko";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
}
h2{
    text-align: center;
}
.footer__inner{
    width: 20%;
}
.footer__title{
    width: 20%;
}
.footer__input{
    width: 80px;
}
@media (max-width: 1200px) {
    .container{
        max-width: 970px;
        margin: 10px auto;
    }
    .info__content{
        width: 970px;
        margin: 0 auto;
    }
    .header__logo{
        width: 200px;
    }
    .wrapper{
        height: 85px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
        margin: 10px auto;
    }
    .info__content{
        width: 750px;
        margin: 0 auto;
    }
    .header__logo{
        width: 150px;
    }
    .wrapper{
        height: 70px;
    }
    .header__link{
        font-size: 19px;
    }
    .info{
        margin-top: 70px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 576px;
        margin: 14px auto;
    }
    .info__content{
        width: 550px;
        margin: 0 auto;
    }
    .header__logo{
        width: 100px;
    }
    .wrapper{
        height: 60px;
    }
    .header__link{
        font-size: 17px;
    }
    .main__title{
        font-size: 24px;

    }
    h2{
        font-size: 20px;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 365px;
        margin: 9px auto;
    }
    .info__content{
        width: 350px;
        margin: 0 auto;
    }
    .header__logo{
        width: 60px;
    }
    .header__link{
        font-size: 11px;
    }
    .wrapper{
        height: 40px;
    }
    .menu__list li{
        margin-left: 20px;
    }
    .footer__title{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    br{
        display: none;
    }

}
@media (max-width: 356px) {
    .container{
        max-width: none;
        margin: 10px auto;
    }
    .info__content{
        width: 260px;
        margin: 0 auto;
    }
    .header__logo{
        width: 50px;
    }
    .header__link{
        font-size: 10px;
    }
    .wrapper{
        height: 40px;
        width: 100%;
    }
    .menu__list li{
        margin-left: 10px;
    }
    .title{
        font-size: 10px;
    }
    .subtitle{
        font-size: 8px;
    }
    .footer__input{
        display: none;
    }
    .main__title{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    br{
        display: none;
    }
}